<%- include("../../partials/header2") %>

<div class="card container" style="margin-top:80px; margin-bottom: 50px; padding: 20px; ">
  <div class="title" style="padding: 20px;">
      <h3 style="color: rgb(65, 131, 206);">Update Profile</h3>
  </div>
    
  <form action="/update-profileData?_method=PUT" method="POST" enctype="multipart/form-data">
      <div class="row" style="padding:30px">
          <div class="col-6" >
            <div class="form-floating mb-3 ">
              <input type="text" class="form-control" id="floatingInput" name="fullName" value='<%=details.fullName %>'  required>
              <label for="floatingInput">Full name</label>
            </div>
          </div>
          <div class="col-6">
            <div class="form-floating mb-3">
              <input type="tel" class="form-control" id="floatingInput" name="mobileNumber"  value='<%=details.mobileNumber %>'  required>
              <label for="floatingInput">Mobile number</label>
            </div>
          </div>
        </div>
        <div class="row" style="padding:30px">
          <div class="col">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" name="Skills" value='<%= details.Skills %>' required>
            <label for="floatingInput">Skills</label>
          </div>
          </div>
          <div class="col">
            <div class="form-floating mb-3">
              <input type="url" class="form-control" id="floatingInput" name="LinkedInURL" value='<%= details.LinkedInURL%>' required>
              <label for="floatingInput">Linked in URL</label>
            </div>
            </div>
        </div>
        <div class="form-floating">
          <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" name="description"
            style="height: 100px" required>
            <%= details.description %>
          </textarea>
          <label for="floatingTextarea2">Comments</label>
        </div>
        <div class="row" style="padding:30px">
          <div class="form-floating mb-3">
            <input type="file" name="profilePhoto" class="form-control" name="dp" accept="image/*" required>
            <label >Profile Photo</label>
          </div>
        </div>
      <br>
      <button class="btn btn-info btn-lg">Update Details</button>
  </form>
</div>

<%- include("../../partials/footer") %>
