<%- include("../../partials/header2") %>

<div class="card container" style="margin-top:80px; margin-bottom: 50px; padding: 20px; ">
  <div class="title" style="padding: 20px;">
      <h3 style="color: rgb(65, 131, 206);">Update Profile</h3>
  </div>
  <form action="/update-profileData?_method=PUT" method="POST" enctype="multipart/form-data">
  <div class="container">
		<div class="main-body">
			<div class="row">
				<div class="col-lg-4">
					<div >
						<div class="card-body">
							<div class="d-flex flex-column align-items-center text-center">
								<img style="border-radius: 50%;" height="200" width="200" id="imgFileUpload" alt="Select File" title="Select File" src=<%= details.profilePhoto.url %> style="cursor: pointer" />
								<br />
								<span id="spnFilePath"></span>
								<input name="dp" type="file" id="FileUpload1" style="display: none" />
								<div class="mt-3">
									<h4> <%= details.username %>  </h4>
								</div>
							</div>
						</div>
						<!-- profile -->
						
						<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
						<script type="text/javascript">
							$(function () {
								var fileupload = $("#FileUpload1");
								var filePath = $("#spnFilePath");
								var image = $("#imgFileUpload");
								image.click(function () {
									fileupload.click();
								});
								fileupload.change(function () {
									var fileName = $(this).val().split('\\')[$(this).val().split('\\').length - 1];
									filePath.html("<b>Selected File: </b>" + fileName);
								});
							});
						</script>
					</div>
				</div>
				<div class="col-lg-8">
					<div >
						<div class="card-body">
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Full Name</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<input name="fullName" type="text" class="form-control" value='<%=details.fullName %>'>
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Mobile</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<input name="mobileNumber" type="text" class="form-control" name="mobileNumber" value='<%=details.mobileNumber %>''>
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Skills</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<input type="text" class="form-control" name="Skills" value='<%= details.Skills %>'>
								</div>
							</div>
              				<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">LinkedIn URL</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<input type="text" class="form-control" name="LinkedInURL" value='<%= details.LinkedInURL %>'>
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Github URL</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<input type="text" class="form-control" name="gitHub" value='<%= details.gitHub %>'>
								</div>
							</div>
              				<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Designation</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<input type="text" class="form-control" name="designation" value='<%= details.designation %>'>
								</div>
							</div>
              			<div>
               			 <button type="submit" class="btn btn-primary">Update details</button>
              </div>
						</div>
					</div>
         
				</div>
			</div>
		</div>
  </div>
  </form>
</div>

<%- include("../../partials/footer") %>
