<%- include("./partials/header2") %>
  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <!-- Slide 1 -->
          <div class="carousel-item active" style="background: url(assets/img/slide/slide-1.jpg)">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown">Welcome to <span>Infinity Skill</span></h2>
                <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi
                  ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea
                  voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
                <a href="" class="btn-get-started animate__animated animate__fadeInUp">Get Started</a>
              </div>
            </div>
          </div>

          <!-- Slide 2 -->
          <div class="carousel-item" style="background: url(assets/img/slide/slide-2.jpg)">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated fanimate__adeInDown">Lorem <span>Ipsum Dolor</span></h2>
                <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi
                  ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea
                  voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
                <a href="" class="btn-get-started animate__animated animate__fadeInUp">Get Started</a>
              </div>
            </div>
          </div>

          <!-- Slide 3 -->
          <div class="carousel-item" style="background: url(assets/img/slide/slide-3.jpg)">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown">Sequi ea <span>Dime Lara</span></h2>
                <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi
                  ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea
                  voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
                <a href="" class="btn-get-started animate__animated animate__fadeInUp">Get Started</a>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Featured Section ======= -->
    <section id="featured" class="featured">
      <div >

      </div>
    </section><!-- End Featured Section -->
    <!-- Contests section -->
    <section id="blog" class="blog" style="margin-top: 15px;">
      <div>
        <div class="row" >
          <div class="col-lg-3">
           
            <div class="sidebar">
              <h3 class="sidebar-title">Search</h3>
              <form id="searchForm">
                  <div class="sidebar-item search-form">
                    <div>
                      <input style="height: 40px; border-radius: 5px; width: 80%;" placeholder="Search by contest name"  id="search" type="text" >
                      <button style="height: 35px; width: 35px; border-radius: 5px; background-color: #028ecd;color: white;" type="submit" ><i class="bi bi-search"></i></button>
                    </div>
                  </div>
              </form>
              <!-- End sidebar search formn-->
              <script>
                async function search(){
                    x=document.getElementById("search").value;
                    if(location.search==""){
                      url= window.location.href;
                    }else{
                      url = "http://localhost:3000/home?";
                    }
                    url = url+"&"+`search=${x}`
                    console.log(url);
                  return url
                }
                async function urlChange(){
                  //e.preventDefault();
                  const url1 =  await search();
                  console.log(url1);
                  window.location.href=(url1);
                         
                }
                document.getElementById("searchForm").addEventListener("submit", (event)=>{
                  event.preventDefault();
                  urlChange(event);
                })
              </script>
               <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                      Sort by Categories
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      <div>
                        <h3 style="float: left;" class="sidebar-title">Categories</h3>
                        <p style="float: right;"><a href="/home" style="color: red;text-decoration: none;">Clear all</a></p>
                       </div>
                       <br/><br/>
                       <div class="sidebar-item categories">
                         <ul>
                           <li><a href="?category=Dancing">Dancing <span>(25)</span></a></li>
                           <li><a href="?category=Singing">Singing <span>(12)</span></a></li>
                           <li><a href="?category=Music">Music <span>(5)</span></a></li>
                           <li><a href="?category=Art">Art <span>(22)</span></a></li>
                           <li><a href="?category=Graphic design">Graphic design <span>(8)</span></a></li>
                           <li><a href="?category=Video/film/reels">Video/film/reels <span>(14)</span></a></li>
                           <li><a href="?category=Video editing">Video editing <span>(14)</span></a></li>
                           <li><a href="?category=Photo editing">Photo editing <span>(14)</span></a></li>
                           <li><a href="?category=Soft Skills">Soft Skills <span>(14)</span></a></li>
                           <li><a href="?category=Photography">Photography <span>(14)</span></a></li>
                         </ul>
                       </div><!-- End sidebar categories-->
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                      Sort by Status
                    </button>
                  </h2>
                  <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      <div>
                        <h3 style="float: left;" class="sidebar-title">STATUS</h3>
                        <p style="float: right;"><a href="/home" style="color: red;text-decoration: none;">Clear all</a></p>
                       </div>
                       <br/><br/>
                      <div class="sidebar-item categories">
                        <ul>
                          <li><a href="?status=Ongoing">Ongoing <span>(25)</span></a></li>
                          <li><a href="?status=Upcoming">Upcoming <span>(12)</span></a></li>
                          <li><a href="?status=completed">Completed<span>(5)</span></a></li>
                          <li><a href="?status=voting">Voting<span>(22)</span></a></li>
                        </ul>
                      </div><!-- End status categories-->
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                      Sort by Type
                    </button>
                  </h2>
                  <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      <div>
                        <h3 style="float: left;" class="sidebar-title">TYPE</h3>
                        <p style="float: right;"><a href="/home" style="color: red;text-decoration: none;">Clear all</a></p>
                       </div>
                       <br/><br/>
                      <div class="sidebar-item categories">
                        <ul>
                          <li><a href="?type=free">Free <span>(25)</span></a></li>
                          <li><a href="?type=paid">Paid <span>(12)</span></a></li>  
                        </ul>
                      </div><!-- End status categories-->
                    </div>
                  </div>
                </div>
                <div class="Filtersmobile">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingfour">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefour" aria-expanded="false" aria-controls="flush-collapsefour">
                        Sort by Popularity & Prize
                      </button>
                    </h2>
                    <div id="flush-collapsefour" class="accordion-collapse collapse" aria-labelledby="flush-headingfour" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                        <div>
                          <h3 style="float: left;" class="sidebar-title">TYPE</h3>
                          <p style="float: right;"><a href="/home" style="color: red;text-decoration: none;">Clear all</a></p>
                         </div>
                         <br/><br/>
                        <div class="sidebar-item categories">
                          <h4>Popularity</h4>
                          <ul>
                            <li><a href="?popularity=dsc">High to low</span></a></li>
                            <li><a href="?popularity=asc">Low to high</span></a></li>  
                          </ul>
                          <h4>Prize</h4>
                          <ul>
                            <li><a href="?prize=dsc">High to low</span></a></li>
                            <li><a href="?prize=asc">Low to high</span></a></li>  
                          </ul>
                        </div><!-- End status categories-->
                      </div>
                    </div>
                  </div>
                </div>
               
              </div>
              <br/>  
            </div><!-- End sidebar -->

          </div><!-- End blog sidebar -->
          <div class=" col-lg-9 entries" style="margin-top: 40px;" >
            <div class="FiltersDesktop" >
              <p >
                <div class="row">
                <b style="font-size: 25px;" >Sort by:</b> 

                  <div class="col">
                    <a  style=" font-size: 20px; " href="?popularity=dsc"><b >Popularity-</b>High to Low</a> 
                  </div>
                  <div class="col">
                    <a style="font-size: 20px; " href="?popularity=asc"><b>Popularity-</b>Low to High</a>
                  </div>
                  <div class="col">
                    <a style=" font-size: 20px; " href="?prize=dsc"><b >Prize-</b>High to Low</a>
                  </div>
                  <div class="col">
                    <a style="font-size: 20px; " href="?prize=asc"><b>Prize-</b>Low to High</a>
                  </div>

                </div>
                 
                  

              </p>
            </div>
            <hr/>
            <div>
              <main class="container py-2">
                <section id="recent-blog-posts" class="recent-blog-posts">
                  <div class="container" >      
                    <div class="row">
                      <% contests.forEach(contest=>{ %>
                        <div class="col-lg-4" style="margin-bottom: 40px;margin-top: 40px;">
                          <div class="post-box">
                            <div class="post-img"><img src="<%= contest.coverPhoto.url %>" style="width: 100%; height: 200px;" class="img-fluid" alt=""></div>
                            <div >
                            <span style="float: left;" class="post-date"><i class="bi bi-person"></i> <%= contest.owner %></span>
                            <span style="float: right;"><b>Prize Money:</b> <%= contest.prizeMoney %> /-</span>
                            </div>  
                            <h3 class="post-title"> <%= contest.contestName %> </h3>
                            <div>
                              <p class="post-date"><b style="color: black;">End Date:</b> <span ><%= contest.endDate %></span></p>
                            </div>
                          <div>
                            <a style="float: left;" href="/contest/<%= contest._id %>" class="readmore stretched-link mt-auto"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
                            <%if(contest.entryFee>0){ %>
                            <button style="float:right; background-color:#028ecd;color: white;" class="btn" >Join ₹ <%= contest.entryFee%> </button>
                            <%}else{ %>
                              <button style="float:right; background-color:#6bd356;color: white;" class="btn" >Join for Free </button>
                            <% }%>
                          </div>
                          </div>
                        </div> 
                      <% }) %>
                    </div>
                  </div>
                </section>
                <!-- End Recent Blog Posts Section -->
              </main>
            </div>
                <div class="Footer" style="margin-left: auto;margin-right: auto;" >
                  <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      <% for(let i=1;i<=TotalContests;i++){ %>
                           <li class="page-item"><a class="page-link" href="?page=<%=i%>"> <%=i%> </a></li>
                      <% } %>
                    </ul>
                  </nav>
                </div>
          </div>
          
          <!-- End blog entries list -->
        </div>
      </div>
    </section>
  </main>
  <!-- End #main -->
<%- include("./partials/footer") %>
