<%- include("../partials/header2") %>

<% 
  const participantsData = participants;
  const userObj = currentUser;
%> 

<main style="margin-top: 150px;">
  <div class="container">
    <% if(!participants.length){ %>
      <h4>No participants till now</h4>
    <% } else { %>
      <table class="table table-bordered">
        <thead  class="thead-dark">
          <tr>
            <th scope="col">S.no</th>
            <th scope="col">Contestant user name</th>
            <th scope="col">Submitted work</th>
            <th scope="col">Points</th>
            <th scope="col">Status</th>
            <th scope="col">Drop a heart</th>
          </tr>
        </thead>
        <tbody>
          <% participants.forEach((p, index) => { %>
            <tr>
              <th scope="row"><%= index + 1 %></th>
              <td><%= p.user %> </td>
              <td><a href="<%= p.participant.workSubmitted !== "No" ? p.participant.workSubmitted : "#" %>">View my submisstion</a></td>
              <td><%= p.participant.points %> </td>
              <td><%= p.participant.status %> </td>
              <td>
                <button class="btn btn-danger" style="border-radius: 50%;" onclick="calculatePoints(participantsData, userObj)">
                  <i class="bi bi-suit-heart-fill"></i>
                </button>
                <button class="btn btn-success" style="border-radius: 50%; display: none;"><i class="bi bi-check-lg"></i></button>
              </td>
            </tr>
          <% }) %> 
        </tbody>
      </table>
    <% } %> 
  </div>
</main>

<%- include("../partials/footer") %>
