<%- include("../partials/header2") %>
  <main style="margin-top: 150px;">
    <div class="container">
      <% if(!participants.length){ %>
        <h4>No participants till now</h4>
      <% } else { %>
        <table class="table table-bordered">
          <thead class="thead-dark">
            <tr>
              <th scope="col">S.no</th>
              <th scope="col">Contestant user name</th>
              <th scope="col">Submitted work</th>
              <th scope="col">Points</th>
              <th scope="col">Status</th>
              <th scope="col">Votes</th>
            </tr>
          </thead>
          <tbody>
            <% participants.forEach((p, index) => { %>
              <tr>
                <th scope="row"><%= index + 1 %></th>
                <td><%= p.user %> </td>
                <!-- <td><%= p.participant.workSubmitted %> </td> -->
                <td><button class="btn btn-info">View My Work</button></td>
                <td><%= p.participant.points %> </td>
                <td><%= p.participant.status %> </td>
                <td><button class="btn btn-primary">Vote me</button></td>
              </tr>
            <% }) %> 
          </tbody>
        </table>
      <% } %> 
    </div>
  </main>
<%- include("../partials/footer") %>
