<%- include("../partials/header2") %>

<style>
  .display{
    display: block;
  }
  .not-display{
    display: none;
  }
  .disable{
    pointer-events: none;
    background-color: #ea848e;
    border-color: #ea848e;
    color: white;
  }
</style>

<script>
  const participantsData = JSON.parse('<%- JSON.stringify(participants) %>');
  const userObj = JSON.parse('<%- JSON.stringify(currentUser) %>');
  const contestOwner = '<%- contest.owner %>';
  window.contest = JSON.parse('<%- JSON.stringify(contest) %>');
</script>

<main style="margin-top: 150px;">
  <div class="container">
    <% if(!participants.length){ %>
      <h4>No participants till now</h4>
      <% } else { %>
        <table class="table table-bordered">
          <thead class="thead-dark">
            <tr>
              <th scope="col">S.no</th>
              <th scope="col">Contestant user name</th>
              <th scope="col">Status</th>
              <% if(currentUser.username==="Admin" || currentUser.username === contest.owner ){%>
                <th scope="col">Submitted work</th>
                <th scope="col">Drop a heart</th>
                <th scope="col">Points</th>
                <th scope="col">Report participant</th>
            </tr>
            <% }else{ %>
              <% if(today>=contest.votingStart && today <= contest.votingEnd){ %>
                <th scope="col">Submitted work</th>
                <th scope="col">Drop a heart</th>
                <th scope="col" style="display: none;">Points</th>
                <th scope="col">Report participant</th>
              <% } %>
              <% if(today>=contest.WinnerDate){%>
                <th scope="col">Points</th>
              <% } %>
            <% } %>
          </thead>
          <tbody>
            <% participants.forEach((p, index)=> { %>
              <tr>
                <th scope="row"> <%= index + 1 %> </th>
                <td class="<%= index + 1 %>"> <a href="/Profile?user=<%=p.user %>"> <%= p.user %> </a> </td>
                <td >
                  <% if(p.participant.status=="Winner" || p.participant.status=="Work Submitted" ){ %>
                      <p style="color: green;">  <%= p.participant.status %> </p>
                      <% if(p.participant.status=="Winner" && currentUser.username === p.user){ %>
                            <!-- Button trigger modal -->
                          <button type="button" style="border-radius: 20px;" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                            Request Money
                          </button>
                      <% } %> 
                  <% }else{ %>
                      <p style="color: red;">  <%= p.participant.status %> </p>
                  <% } %>
                </td>
                <% if(currentUser.username==="Admin" || currentUser.username===contest.owner ){%>
                  <td>
                    <a href="<%= p.participant.workSubmitted !== "No" ? p.participant.workSubmitted : "#"%>">
                      View my submisstion
                    </a>
                  </td>
                  <td>
                    <% if(currentUser.username === "Admin"){ %>
                      <button class="btn btn-danger <%= p.user === currentUser.username && 'disable' %>  <%= index+1 %> <%= p.voted ? 'not-display' : 'display' %> 
                        <%= p.participant.workSubmitted !=="No" ? '' : 'disable' %>" id="admin-vote-button"
                        style="border-radius: 50%;" data-bs-toggle="modal" data-index='<%= index + 1 %>' data-bs-target="#points">
                        <i class="bi bi-suit-heart-fill"></i>
                      </button>
                    <% } else { %>
                      <button class="btn btn-danger <%= p.user === currentUser.username && 'disable' %>  <%= index+1 %> <%= p.voted ? 'not-display' : 'display' %> 
                        <%= p.participant.workSubmitted !=="No" ? '' : 'disable' %>"
                        style="border-radius: 50%;" onclick="calculatePoints(participantsData, userObj, contestOwner, '<%= index + 1 %>')">
                        <i class="bi bi-suit-heart-fill"></i>
                      </button>
                    <% } %> 
                    <button class="btn btn-success <%= index+1 %> <%= p.voted ? 'display' : 'not-display' %>" style="border-radius: 50%;">
                      <i class="bi bi-check-lg"></i>
                    </button>
                  </td>
                  <td id="<%= index+1 %>"> <%= p.participant.points %> </td>
                  <td>
                    <button type="button" class="btn btn-outline-danger <%= p.participant.workSubmitted !=="No" ? '' : 'disable' %>" 
                      data-bs-toggle="modal" data-bs-target="#report">
                      Report
                    </button>
                  </td>
                <% } else { %>
                  <% if(today>=contest.votingStart && today <= contest.votingEnd){ %>
                    <td>
                      <a href="<%= p.participant.workSubmitted !== "No" ? p.participant.workSubmitted : "#"%>">
                        View my submisstion
                      </a>
                    </td>
                    <td>
                      <button class="btn btn-danger <%= p.user === currentUser.username && 'disable' %> <%= index+1 %> <%= p.voted ? 'not-display' : 'display' %> 
                        <%= p.participant.workSubmitted !=="No" ? '' : 'disable' %>" 
                        style="border-radius: 50%;" onclick="calculatePoints(participantsData, userObj, contestOwner, '<%= index + 1 %>')">
                        <i class="bi bi-suit-heart-fill"></i>
                      </button>
                      <button class="btn btn-success <%= index+1 %> <%= p.voted ? 'display' : 'not-display' %>" style="border-radius: 50%;">
                        <i class="bi bi-check-lg"></i>
                      </button>
                    </td>
                    <td id="<%= index+1 %>" style="display: none;"> <%= p.participant.points %> </td>
                    <td>
                      <button type="button" class="btn btn-outline-danger <%= p.participant.workSubmitted !=="No" ? '' : 'disable' %>" 
                        data-bs-toggle="modal" data-bs-target="#report">
                        Report
                      </button>
                    </td>
                  <% } %>
                  <% if(today>=contest.WinnerDate) { %>
                    <td> <%= p.participant.points %> </td>
                  <% } %>
                <% } %>
              </tr>
            <% }) %>
          </tbody>
        </table>
      <% } %>
  </div>
</main>

<%- include("../partials/modals/modal") %>

<%- include("../partials/footer") %>
