<%- include("../partials/header2") %>
<% 
    const dateObj = new Date();
    let month = dateObj.getUTCMonth() + 1; //months from 1-12
    const day = dateObj.getUTCDate();
    const year = dateObj.getUTCFullYear();

    month = month >= 10 ? month : `0${month}`
    today = `${year}-${month}-${day}`
%> 
  <div class="row d-flex align-items-start">
    <div class=" col-2  nav flex-column nav-pills me-3 shadow-lg p-3 mb-5 bg-white rounded" id="v-pills-tab"
      role="tablist" aria-orientation="vertical">
      <div class="py-4 px-3 mb-4 bg-light">
        <div class="media d-flex align-items-center" style="width: inherit;">
          <div style="height: 70px;width: 70px;border-radius: 50%; background-color:#1483ce; color: white;margin: 3px">
            <p
              style="color: whitesmoke; margin-top: 13px; margin-left: 25px; font-size: 30px; font-weight: bold; text-transform: uppercase;">
              <%= currentUser.username[0] %>
            </p>
          </div>
          <div class="media-body" style="margin-left: 10px;">
            <h4 class="m-0" style="color: #1483ce;">
              <%= currentUser.username %> 
            </h4>
          </div>

        </div>
        <hr style="height: 3px; color: grey;" />
        <div class="btn-group">
          <button style="background: #1483ce !important ;color: white;" class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
              Settings
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="/update-profile">Update username</a></li>
            <li><a class="dropdown-item" href="/update-profile">Update e-mail</a></li>
            <li><a class="dropdown-item" href="/forgotPass">Update password</a></li>
            <li><a class="dropdown-item" href="#">Update profile</a></li>
          </ul>
        </div>
      </div>
      <p align="left" style="color:rgba(56, 53, 53, 0.534);font-size: 17px;"
        class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Dashboard
      </p>
      <% if(currentUser.username !== "Admin"){ %>
        <button class="nav-link active text-left" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home"
          type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">
          <p style="font-size: 20px;" style="color: rgb(14, 166, 226);"><i style="color: yellowgreen;font-weight: 700;" class="bi bi-trophy-fill"></i>
            Posted Contests </p>
        </button>
        <button class="nav-link text-left" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile"
          type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">
          <p style="font-size: 20px;" style="color: rgb(14, 166, 226);"><i style="color: yellowgreen;font-weight: 700;" class="bi bi-check-circle-fill"></i>
            Participated Contests </p>
        </button>
      <% } %> 
      <button class="nav-link text-left" id="v-pills-messages-tab" data-bs-toggle="pill"
        data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages"
        aria-selected="false">
        <p style="font-size: 20px;" style="color: rgb(14, 166, 226);"><i style="color: yellowgreen;font-weight: 700;" class="bi bi-currency-exchange"></i>
          Wallet</p>
      </button>

    </div>
    <div class="col-1"></div>
    <div class="col-8 tab-content" id="v-pills-tabContent">
      <% if(currentUser.username !=="Admin" ){ %>
        <div class="tab-pane fade show active " id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
          <div style="margin-top: 100px;color: black;">
            <h1>Posted contests</h1>
            <% if(postedCont.length === 0){ %>
              <h4>You didn't posted in any contests :(</h4>
            <% } else { %>
              <% postedCont.forEach(contest => { %>
                <article class="postcard light blue">
                  <a class="postcard__img_link" href="#">
                    <img class="postcard__img" src="<%= contest.coverPhoto.url %>" alt="Image Title" />
                  </a>
                  <div class="postcard__text t-dark">
                    <h1 class="postcard__title blue"><a href="#"><%= contest.contestName %> </a></h1>
                    <div class="postcard__subtitle small">
                      <p><b> Motive : </b><%=contest.motive %></p>
                    </div>
                    <div class="postcard__bar"></div>
                    <div style="flex-wrap: wrap;">
                      <div style="float: left;">
                        <b>START DATE:</b>
                        <time datetime="2021-06-26 12:00:00">
                          <i class="fas fa-calendar-alt mr-2"></i> <%=contest.startDate %>
                        </time>
                      </div>
                      <div style="float: right;">
                        <b>END DATE:</b>
                        <time datetime="2021-06-26 12:00:00">
                          <i class="fas fa-calendar-alt mr-2"></i> <%=contest.endDate %>
                        </time>
                      </div>
                    </div>
                    <div >
                      <div style="float: left;">
                        <b>PRIZE MONEY:</b> <%= contest.prizeMoney%>
                      </div>
                      <div style="float: right;">
                        <b>ENTRY FEE:</b> <%= contest.entryFee%>
                      </div>
                    </div>
                    <div class="postcard__preview-txt">
                      <b>Description : </b>
                      <%= contest.description %> 
                    </div>
                  <div>
                    <div style="float: left;">
                    <ul class="postcard__tagbox">
                      <li class="tag__item"><%= contest.category %></li>
                      <li class="tag__item play blue">
                        <a href="#"><%= contest.subCategory %></a>
                      </li>
                    </ul>
                  
                    </div>
                    <div style="float: right;">
                      <br/>
                        <b style="color: rgb(24, 112, 228);" class="tag__item"><a href="/contest/<%= contest._id %>"> View more >></a> </b>
                    </div>
                  </div>
                  </div>
                </article>
              <% }) %> 
            <% } %>
          </div>
        </div>
        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
          <div style="margin-top: 100px;color: black;">
            <h1>Participated Contests</h1>
            <% if(participatedCont.length === 0){ %>
              <h4>You didn't participated in any contests...</h4>
            <% } else { %>
              <% participatedCont.forEach(contest => { %>
                <article class="postcard light blue">
                  <a class="postcard__img_link" href="#">
                    <img class="postcard__img" src="<%= contest.coverPhoto.url %>" alt="Image Title" />
                  </a>
                  <div class="postcard__text t-dark">
                    <h1 class="postcard__title blue"><a href="#"><%= contest.contestName %> </a></h1>
                    <div class="postcard__subtitle small">
                      <p><b> Motive : </b><%=contest.motive %></p>
                    </div>
                    <div class="postcard__bar"></div>
                    <div style="flex-wrap: wrap;">
                      <div style="float: left;">
                        <b>START DATE:</b>
                        <time datetime="2021-06-26 12:00:00">
                          <i class="fas fa-calendar-alt mr-2"></i> <%=contest.startDate %>
                        </time>
                      </div>
                      <div style="float: right;">
                        <b>END DATE:</b>
                        <time datetime="2021-06-26 12:00:00">
                          <i class="fas fa-calendar-alt mr-2"></i> <%=contest.endDate %>
                        </time>
                      </div>
                    </div>
                    <div >
                      <div style="float: left;">
                        <b>PRIZE MONEY:</b> <%= contest.prizeMoney%>
                      </div>
                      <div style="float: right;">
                        <b>ENTRY FEE:</b> <%= contest.entryFee%>
                      </div>
                    </div>
                    <div class="postcard__preview-txt">
                      <b>Description : </b>
                      <%= contest.description %> 
                    </div>
                  <div>
                    <div style="float: left;">
                    <ul class="postcard__tagbox">
                      <li class="tag__item"><%= contest.category %></li>
                      <li class="tag__item play blue">
                        <a href="#"><%= contest.subCategory %></a>
                      </li>
                    </ul>
                  
                    </div>
                    <div style="float: right;">
                      <br/>
                        <b style="color: rgb(24, 112, 228);" class="tag__item"><a href="/contest/<%= contest._id %>"> View more >></a> </b>
                    </div>
                  </div>
                  </div>
                </article>
              <% }) %> 
            <% } %>
          </div>
        </div>
      <% } %>
      <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
        <div style="margin-top: 100px;color: black;">
          <h1>Wallet</h1>
        </div>
      </div>
    </div>
  </div>

<%- include("../partials/footer") %>
